@keyframes appear{
    from {
      opacity: 0;
    }
  
    to{
      opacity: 1;
    }
  }
  
  @keyframes appear_from_bottom{
    0%{
      transform: translateY(150px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
  
  @keyframes lotate {
	0% {
		transform : rotate(0deg)
	}

	50% {
		transform : rotate(180deg)
	}

	100% {
		transform : rotate(360deg)
	}
}


.back0{
  opacity: 1;
}